<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{ fullName }}
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        firstName : 'Tuanku',
        lastName : 'Imam Bonjol'
      },
      computed : {
        fullName : {
          get(){
            return `${this.firstName} ${this.lastName}`
          },
          set(parameternya){
            let arrayna  = parameternya.split(' ') 
            // cara yg hanya bisa menggunakan nama dngan maksimal tiga kata 
            // this.firstName = arrayna[0]
            // this.lastName = arrayna[1] +' '+arrayna[2]

            // cara yang bisa nama ya banyak kata 
            let belakangna =''
            for (let i = 0; i < arrayna.length; i++) {
              if (i == 0) {
                this.firstName = arrayna[0]
              } else {
                belakangna = belakangna+' '+arrayna[i] 
              }
            }
            this.lastName = belakangna

          }
        }
      }
  })
  </script>
</body>
</html>