<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm()"> 
      <p v-if="errors.length"> 
          <b> Please correct the following error </b>
          <ul> 
            <li v-for="error in errors"> {{ error }} </li>
          </ul>
      </p>
      <label> Nama :   </label> <br>
      <input type="text" name="nama" ref="nama" v-model="nama"><br> 
      <label> Alamat  : </label> <br>
      <textarea name="alamat" ref="alamat" v-model="alamat"> </textarea> <br>  
      <label> No Telepon  : </label> <br>        
      <input type="text" name="nolep" ref="nolep" v-model="nolep" ><br> 

      <input type="submit" value="SUBMIT">  
    </form>  
    <br> <br> 
    <table border =1 > 
        <tr v-for="member of members"> 
            <td> 
                <img width="100" :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080' ">    
            </td>
            <td> Nama : {{ member.name }} </td>
            <td> Alamat : {{ member.address}} </td>
            <td> No HP : {{ member.no_hp}}</td>
            <td>
                <button> Edit </button>
                <button @click="removeBlog(member.id)"> Hapus </button> 
                <button> Upload</button>
            </td>
        </tr>
    </table>
  </div>
   
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 

  <script>
    var vm = new Vue({
      el: '#app',
      data: { 
         nama : '',
         alamat : '' ,
         nolep : '',
         errors : [] ,
         members : [] , 
         photoDomain : 'http://demo-api-vue.sanbercloud.com/'
        //  /photo/foto-profile/_2479_202203230120.png"
        }, 
      methods : { 
          validationForm : function(){
            

            if (this.nama.length < 5 ) {
            this.errors.push('nama Minimal 5 karakter') 
            this.$refs.nama.focus() 
            } 
            if (this.alamat.length > 30){
            this.errors.push('Aalamat tidak boleh lebih dari 30 karakter') 
            this.$refs.alamat.focus() 
            }  
            if (this.nolep.length < 1 ){
            this.errors.push('No Telepon Harus Diisi !') 
            this.$refs.nolep.focus() 
            } 

          },

          clearForm : function(){
                this.nama='',
                this.alamat='',
                this.nolep=''
          },

          submitForm : function(){ 
            this.errors = [] 
            this.validationForm()

            if(this.errors.length === 0){
                let formData = new FormData() 
                formData.append('name', this.nama)
                formData.append('address', this.alamat)
                formData.append('no_hp', this.nolep)

                const config = {
                    method : "post"  ,
                    url: "http://demo-api-vue.sanbercloud.com/api/member" , 
                    data: formData
                }
                axios(config) 
                    .then((response)=> {
                         console.log(response.data)
                         this.clearForm()
                         this.getBLogs()      
                         alert(response.data.message)

                    })
                    .catch((error) => { 
                    })  
                    // alert('Terima Kasih anda benar')  
                }
            } , 
         
            getBLogs : function(){
            const config = {
                method : "get"  ,
                url: "http://demo-api-vue.sanbercloud.com/api/member"
            }
            axios(config) 
                .then((response)=> {
                    this.members= response.data.members
                    // console.log(response.data)
                })
                .catch((error) => {
                    console.log(error)
                }) 
            },


            removeBlog: function(id) {
                const config={
                    method : "POST" , 
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE` , 
                    params : {_method : "Delete"}
                }   
                axios(config) 
                .then((response)=> {
                    this.getBLogs()
                    alert(response.data.message)
                })
                .catch((error) => {
                    console.log(error)
                }) 
            }

        }, 
            created(){
                this.getBLogs()
            }
    })
  </script>
</body>
</html>
