<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent>  
        <div v-if="!status_edit"> 
            <input type="text" v-model="teks"> 
            <button @click="tambah_users"  > Add </button> 
        </div>
        <div v-else>
            <input type="text" v-model="teks"> 
            <button @click="update_users"  > Update </button> 
            
        </div>
    
    </form>
    <ul>
      <li v-for="(name,index) in users"> {{ name }}  
          <button @cick="edit_users(index,teks)"> Edit </button>
          <button @click="delete_users(index)" > Delete </button> 
      </li>
    </ul>   
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
        el: '#app',
        data: {  
            teks: "" , 
            status_edit : false , 
            users : [
                {
                    'name' : 'Muhammad Iqbal Mubarok' ,
                },
                {
                    'name' : 'Ruby Purwanti' ,
                },
                {
                    'name' : 'Faqih Muhammad' ,
                },
            ]   
        }, 
        methods: {
            //saat klik button delete 
            delete_users(index) { 
                // muncul konfirasi untuk menghapusnya  
                if (confirm("Apakah Anda yakin akan menghapus nya ?")) {
                    this.users.splice(index, 1);
                } else {
                    alert(" Penghapusan Dibatalkan !");
                }
                
            },
            //saat klik button add akan menambahkan dara ke array of object 
            tambah_users() {
              this.users.push({'name':this.teks});
              this.teks = "";
            } ,  
        }
    })
  </script>
</body>
</html>