<template>
<!-- App.vue -->

  <v-app>
    <v-navigation-drawer app v-model="drawer">
      <!-- -->
    </v-navigation-drawer>

    <v-app-bar app>
      <!-- -->
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      @mamang rayen 2022 | Vue JS 
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  
  data: () => ({
    drawer: false , 
    menus : [
      { title : 'Home' , icon : 'mdi-home' , route:'/' } ,
      { title : 'Blogs' , icon : 'mdi-note' , route:'/blogs' } 
    ] , 

    guest : false 
  }),
};
</script>
