<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent> 
      <input type="text" v-model="cari" >
    </form>
    <ul>
      <li v-for="hasil in filterku"> {{ hasil }} </li>
    </ul>   
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: { 
        cari : '',
         books : [
             'Kalkulus Dasar' , 
             'Fisika Dasar', 
             'Aljabar Linier Elementer' ,
             'Aljabar Abstrak' ,
             'Algoritma Pemograman' 
         ]   
      }, 
      computed: {
        filterku: function() {
          return this.books.filter((hasil)=>{
            return hasil.toLowerCase().includes(this.cari.toLowerCase())
          });
        }
      }
    })
  </script>
</body>
</html>